@model IEnumerable<OneToManyCrudOper.Db.School>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<div>
    <table>
        <thead>
            <tr>
                @Html.ActionLink("Create", "Create") 
                <td>Id</td>
                <td>Name</td>
            </tr>
        </thead>
       @for (int i = 0; i < Model.Count(); i++)
       {
           <tr>
               
               <td>@Model.ElementAt(i).Id</td>
               <td>@Model.ElementAt(i).Name</td>
               <td>@Html.ActionLink("Edit", "Edit", new { id = Model.ElementAt(i).Id })</td>
               <td>@Html.ActionLink("Delete","Delete",new { id=Model.ElementAt(i).Id})</td>
           </tr>
       }
    </table>
    </div>

